// Post SCSS for the theme.

/*    GENERAL */
/* Overwritten body attributes */
@import 'moodle/buttons';
@import 'moodle/coursenavigation';
@import 'moodle/dashboard';
@import 'moodle/footer';
@import 'moodle/mobile';
@import 'moodle/print';
@import 'moodle/quizz';

body {

  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: 500;
}

p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;

}

a {
  color: $wedgewood;

  &:hover {
    color: $wedgewood-dark;
  }
}
