// Post SCSS for the theme.

// /*    GENERAL */
// Overwritten body attributes */
@import 'moodle/breadcrumb';
@import 'moodle/buttons';
@import 'moodle/cards';
@import 'moodle/course';
@import 'moodle/feedback_analysis';
@import 'moodle/navigation';
@import 'moodle/pageheader';
@import 'moodle/print';
@import 'moodle/quizzes';
@import 'moodle/toolbox';
@import 'moodle/mobile';
// @import 'moodle/buttons';
// @import 'moodle/inputforms';

body {
  background-color: $white;
  color: $textgrey;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $wedgewood;
}

p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}

a {
  color: $driftwood;
}

.page-header-headings h1 {
  font-weight: 100;
}


//   /**    EDITOR ATTO */
.editor_atto_toolbar {
  i {
    color: $wedgewood;
  }

  button {
    padding: 0 9px !important;
  }
}
//   /**    BUTTONS*/
button {
  border: 0;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  letter-spacing: 0.5px;
  line-height: 36px;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-out;
}

.btn-secondary {
  background-color: $wedgewood;
  border-color: $wedgewood;
  box-shadow: none;
  color: $white;

  i {
    color: $white;
  }
}

.btn-default,
.btn-secondary {
  background-color: $wedgewood;
  border-color: $wedgewood;
  color: $white;
  border: 0;
}

.tab-pane {
  .btn-default {
    background: $wedgewood;
  }

  .btn-default.active {
    background-color: $wedgewood-dark;
    border: 0;
    color: $white;
  }
}

.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.btn-default:visited,
.btn-secondary:hover {
  background-color: $wedgewood-dark;
  border-color: $wedgewood-dark;
  box-shadow: $button-shadow-hover;
  color: $white;
}
//   /**    FOOTER */
footer.bg-inverse{
  background-color: $wedgewood!important;
      }
footer{

      font-size: 1.3rem;
      color: $white!important;
      font-weight: 100;
  a {
    color: $white!important;
    font-weight: 100;
    text-decoration: underline;

  }
}
/* FIX THIS SHIT SOON */
#page-grade-grading-manage .actions .btn-group > .action.active,
#page-grade-grading-manage .actions .btn-group > .action:active,
#page-grade-grading-manage .actions .btn-group > .action:focus,
#page-grade-grading-manage .actions .btn-group-vertical > .action.active,
#page-grade-grading-manage .actions .btn-group-vertical > .action:active,
#page-grade-grading-manage .actions .btn-group-vertical > .action:focus,
#rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .btn-group > input.active,
#rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .btn-group > input:active,
#rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .btn-group > input:focus,
#rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .btn-group-vertical > input.active,
#rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .btn-group-vertical > input:active,
#rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .btn-group-vertical > input:focus,
#rubric-rubric.gradingform_rubric .btn-group > .addcriterion.active,
#rubric-rubric.gradingform_rubric .btn-group > .addcriterion:active,
#rubric-rubric.gradingform_rubric .btn-group > .addcriterion:focus,
#rubric-rubric.gradingform_rubric .btn-group-vertical > .addcriterion.active,
#rubric-rubric.gradingform_rubric .btn-group-vertical > .addcriterion:active,
#rubric-rubric.gradingform_rubric .btn-group-vertical > .addcriterion:focus,
.btn-group > .btn.active,
.btn-group > .btn:active,
.btn-group > .btn:focus,
.btn-group-vertical > .btn.active,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn:focus {
  z-index: 0;
}

.courses .coursebox {
  background-color: $white;
}

.moodle-dialogue-base button.closebutton,
button.close {
  margin-top: -6px;
}

.dimmed_text {
  color: #bbb;
}

//  // UPLOAD CONTENT SECTION //INTERACTION
//
//  .dndupload-progressbars, .dndupload-uploadinprogress{
//    min-width: 20px;
//    min-height: 20px;
//    background-color: $wedgewood;
//    color:$white;
// }
//  .dndupload-progressbars:first-child {
//    border: 16px solid #f3f3f3; /* Light grey */
//        border-top: 16px solid #3498db; /* Blue */
//        border-radius: 50%;
//        width: 120px;
//        height: 120px;
//        animation: spin 2s linear infinite;
//  }
//  @keyframes spin {
//     0% { transform: rotate(0deg); }
//     100% { transform: rotate(360deg); }
// }
