
// Pre SCSS for the theme
//shadows
$shadow06: rgba(0, 0, 0, .06);
$shadow07: rgba(0, 0, 0, .07);
$shadow10: rgba(0, 0, 0, .10);
$shadow12:rgba(0, 0, 0, .12);
$shadow14: rgba(0, 0, 0, .14);
$shadow20:rgba(0, 0, 0, .2);

//Boostcolors
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f9f9f9 !default;

$brand-primary:             #4b92a4 !default;
$brand-success:             #c86e6f !default;
$brand-warning:             #c86e6f !default;
$brand-danger:              #c86e6f !default;
$brand-inverse:             $gray-dark !default;
$navbar-height:             50px !default;

//theme colors
$wedgewood: #4b92a4; //blau
$wedgewood-dark:#428393; //blau dunkler
$iceblue:#f0f0ff;
$driftwood: #b39048; //ocker
$sand: #f4f4f0; //grau
$textgrey:#666; //textgrau
$textgrey-light:#aaa; //textgrau hell
$white:#fff; //weiss
$brandred: #c86e6f;
$background-highlight: #f4eee4;

$drawer-width: 285px;

$card-bg: rgba(255, 255, 255, .9);
$material-shadow1: 0 2px 2px 0 $shadow14, 0 1px 5px 0 $shadow12, 0 3px 1px -2px $shadow20;
$material-shadow1-hover: 0 1px 1px 0 $shadow07, 0 1px 2px 0 $shadow06, 0 1px 0 -1px $shadow10;

$material-shadow2: 0 1px 1px 0 $shadow10, 0 1px 2px 0 $shadow10, 0 1px 0 -1px $shadow10;


$button-shadow:0 2px 2px 0 $shadow14, 0 1px 5px 0 $shadow14, 0 3px 1px -2px $shadow14;
$button-shadow-hover:0 1px 1px 0 $shadow07, 0 1px 1px 0 $shadow06, 0 1px 1px -1px $shadow10;


// media queries
$mobile-screen: 690px;
$tablet-screen: 995px;
$desktop-screen: 1440px;

$screen: "only screen";
$mobile: "only screen and (max-width:#{$mobile-screen})";
$tablet: "only screen and (min-width:#{$mobile-screen}) and (max-width: #{$tablet-screen})";
$desktop: "only screen and (min-width:#{$tablet-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";
