// Pre SCSS for the theme.


//shadows
$shadow06: rgba(0, 0, 0, .06);
$shadow07: rgba(0, 0, 0, .07);
$shadow10: rgba(0, 0, 0, .10);
$shadow12:rgba(0, 0, 0, .12);
$shadow14: rgba(0, 0, 0, .14);
$shadow20:rgba(0, 0, 0, .2);

//theme colors
$wedgewood: #4b92a4; //blau
$wedgewood-dark:#428393;
$iceblue:#f0f0ff;
$driftwood: #b39048; //ocker
$sand: #f4f4f0; //grau
$textgrey:#666; //textgrau
$white:#fff; //weiss
$brandred: #c86e6f;


$card-bg: rgba(255, 255, 255, .18);
$material-shadow1: 0 2px 2px 0 $shadow14, 0 1px 5px 0 $shadow12, 0 3px 1px -2px $shadow20;
$material-shadow1-hover: 0 1px 1px 0 $shadow07, 0 1px 2px 0 $shadow06, 0 1px 0 -1px $shadow10;

$button-shadow:0 2px 2px 0 $shadow14, 0 1px 5px 0 $shadow14, 0 3px 1px -2px $shadow14;
$button-shadow-hover:0 1px 1px 0 $shadow07, 0 1px 1px 0 $shadow06, 0 1px 1px -1px $shadow10;


// media queries
$mobile-screen: 690px;
$tablet-screen: 995px;
$desktop-screen: 1440px;

$screen: "only screen";
$mobile: "only screen and (max-width:#{$mobile-screen})";
$tablet: "only screen and (min-width:#{$mobile-screen}) and (max-width: #{$tablet-screen})";
$desktop: "only screen and (min-width:#{$tablet-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";
