/* alert & highlight about hidden text */
.ishidden {

    .tag-info {
      background-color: $brandred;
      border-radius: 3px;
      font-size: .8em;
      font-weight: 300;
      padding: 6px;
      &::before {
        font-family: 'FontAwesome';
        content: '\f070';
        padding-right: 4px;
      }
    }
}

.isrestricted,
.isfullinfo,
.isstealth {

  .tag-info {
    border-radius: 3px;
    font-size: .8em;
    font-weight: 300;
    padding: 6px;
    &::before {
      font-family: 'FontAwesome';
      content: '\f05e';
      padding-right: 4px;
    }
  }
}

.text-success,
.green,
.notifysuccess,
.connected {
  color:#81C784!important
}
