//   /**    BREADCRUMBs */

.page-header-image img {
  height: 50px;
  width: 50px;
}

.page-header-headings h1 {
  font-size: 2rem;
}

.breadcrumb {
  background-color: none;
  font-weight: 100;

  a {
    background: $white;
    border: 0 solid;
    border-radius: 3px;
    color: $wedgewood-dark;
    font-weight: 600;
    padding: 4px 10px;
  }

  .breadcrumb-item {
    color: $wedgewood;
  }

  &:last-of-type {
    // font-weight: 900;
  }
}

.current-breadcrumb {
  // background-color: $white;
  font-weight: 100;

  a {
    background-color: $white;
    border: 0 solid;
    border-radius: 3px;
    color: $wedgewood-dark;
    padding: 4px 10px;
  }

  .breadcrumb-item {
    color: $wedgewood;
  }

  &:last-of-type {
    // font-weight: 900;
  }
}