//   /**    BUTTON Stylesheet for HTW Boost Theme */

// Global Activity: Button Colors
// brand colors for all Buttons
// Date: ? Autor HKUM

button {
  @extend .btn;
  @extend .btn-primary;
  margin-top:4px;
  &:hover,
  &:focus,
  &:active,
  &:visited {
  background-color: darken($wedgewood, 10%);
  border-color: darken($wedgewood, 10%);
  color: white;
  }
}

.buttons {
  input {
    @extend button;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      @extend button:hover;
    }
  }
}

.btn {
  i{
    color: white;
  }
}

.btn-default {
  background-color: $wedgewood;
  border-color: $wedgewood;
  box-shadow: none;
  color: $white;
  margin-top:4px;

  i {
    color: $white;
  }
  &:focus,
  &:hover,
  &:active,
  &:visited{
    background-color: darken($wedgewood, 10%);
    border-color: darken($wedgewood, 10%);
    color: $white;
  }
}

.btn-primary {
  color: $white;
  margin-top:4px;
  &:focus,
  &:hover,
  &:active,
  &:visited{
    background-color: darken($wedgewood, 10%);
    border-color: darken($wedgewood, 10%);
    color: $white;
  }
}

.btn-secondary {
  background-color: $wedgewood-dark;
  border-color: $wedgewood;
  box-shadow: none;
  color: $white;
  margin-top:4px;

  i {
    color: $white;
  }
  &:focus,
  &:hover,
  &:active,
  &:visited {
    background-color: darken($wedgewood, 10%);
    border-color: darken($wedgewood, 10%);
    color: $white;
  }
  &:active:hover,
  &:active:focus {
    background-color: darken($wedgewood, 22%);
    border-color: darken($wedgewood, 22%);
    color: $white;
  }

  &:disabled:hover {
    background-color: darken($wedgewood, 10%);
    color: transparentize($white, 50%);
  }

  .btn-secondary:focus,
  .btn-default:focus,
  .btn-secondary:hover,
  .btn-default:hover,
  .btn-secondary:active,
  .btn-default:active,
  .btn-secondary:visited,
  .btn-default:visited {
    color: white !important;
  }


}

.btn-secondary.text-primary {
  color: #fff!important;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  &:focus,
  &:hover,
  &:active,
  &:visited {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
  }
}
.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
  &:focus,
  &:hover,
  &:active,
  &:visited {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
  }
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;

    &:focus,
    &:hover,
    &:active,
    &:visited {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    }
}

.tab-pane {
  .btn-default {
    background: $wedgewood;

    &:focus,
    &:hover,
    &:active,
    &:visited{
      background-color: darken($wedgewood, 10%);
      border-color: darken($wedgewood, 10%);
      color: $white;
    }
  }
  .btn-default.active {
  color: $white;
  background-color: darken($wedgewood, 5%);
  border-color: darken($wedgewood, 10%);
  }
}

// Global Activity: Atto Editor
// brand color for atto-icons
// Date: ? Autor HKUM

.editor_atto_toolbar {
  i {
    color: $wedgewood;
  }
}

// Global Activity: Loading Bar
// Ripple Effect for loading bars
// Date: ? Autor HKUM

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}

// Quizz Attempt Section:
//button classes should be given to certain kind of links: fixes issue #63 #70 on github/BLC-HTWChur/htwboost
// Date: ? Autor HKUM

.endtestlink,
.backlink {
  @extend .btn;
  @extend .btn-primary;
  a{
    color: white;
  }
}

.detail-pair {
  // @extend .pull-right;
  input {
    // @extend .col-lg-2;
  }
}
// Quizz Edit Section:
// FIX: Links in Test-Edit Mode should be Buttons
// Date: 28.02.2018 Author: HKUM

.mod-quiz-edit-content {
    .selectmultiplecommandbuttons .separator{
      display: none;
    }
}

.mod-quiz-edit-content .btn-group a[role=button] {
  @extend .btn;
  @extend .btn-primary;
  background-color: $driftwood;
  border-color: $driftwood;
  &:first-child {
    border-right: 2px solid darken($driftwood, 1.8);
  }
  &:hover, &:active, &:focus, &:visited {
    background-color: darken($driftwood, 10%);
    border-color: darken($driftwood, 10%);
  }
  &:active:focus {
    background-color: darken($driftwood, 30%);
    border-color: darken($driftwood, 30%);
  }
}

#page-mod-quiz-edit #questionselectall {
  padding-right: 10px;
}

#page-mod-quiz-edit #questiondeselectall {
  padding-left: 10px;
}

#page-mod-quiz-edit .selectmultiplecommandbuttons {
  margin: 0 0 4px 4px;
}

// global: Edit Activities Gear Icon
// FIX: settings gear icon has defect (white) Background
// Date: 28.02.2018 Author: HKUM

.region_main_settings_menu_proxy {
  background-color: transparent;
}
