//   /**    BUTTONS*/
button {
  border: 0;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  letter-spacing: 0.5px;
  line-height: 36px;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-out;
}

.btn-default, .btn-secondary {
  background-color: $wedgewood;
  border-color: $wedgewood;
  box-shadow: none;
  color: $white;

  i {
    color: $white;
  }
  &:focus, &:hover{
    background-color: $wedgewood-dark;
  }
}

.tab-pane {
  .btn-default {
    background: $wedgewood;
  }

  .btn-default.active {
    background-color: $wedgewood-dark;
    // border: 0;
    color: $white;
  }
}

.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.btn-default:visited,
.btn-secondary:hover {
  background-color: $wedgewood-dark;
  border-color: $wedgewood-dark;
  box-shadow: $button-shadow-hover;
  color: $white;
}

//   /**    EDITOR ATTO */
.editor_atto_toolbar {
  i {
    color: $wedgewood;
  }

  button {
    padding: 0 9px !important;
  }
}
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
.ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}
