//   /**    CARDS AND BLOCKS */

.card {
  background: adjust-color($sand, $blue: 5);
  border: 0;

  .courses-view-course-item {
    box-shadow: $material-shadow1;

    &:hover {
      box-shadow: $material-shadow1-hover;
    }
  }
}

.block {
  background-color: $white;
}

.courses {
  .coursebox {
    box-shadow: $material-shadow1-hover;
    margin: 20px 0;
    padding: 20px 10px;

    &:hover {
      background-color: $sand;
      box-shadow: $material-shadow1;
      cursor: pointer;
    }
  }
}
//* activities to cards */

.section {
  li.activity {
    margin: 4px 10px 4px 0;
    padding: 2.2em;
  }
}

.activity {
  background-color: $white !important;

  img.activityicon {
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
  }
}
.v-center {
   display: flex;
   align-items: center;
}
.media-body {
  width: 66%;
  // margin-top: 12px;
  max-width: 100%;
}

.no-progress .ripple{

}

@media (min-width: 1600px) {
    .block_myoverview {
        .courses-view-course-item {
            height: 170px;
        }
    }
}

// /* CARDS ON DASBOARD */
// @media (min-width: 1600px) {
//   .block_myoverview .courses-view-course-item {
//     height: 100px !important;
//   }
// }
//
// .block_myoverview .courses-view-course-item {
//   height: 200px;
//   overflow-y: hidden;
// }
