//   /**    CARDS AND BLOCKS */

.card {
  background: #F8F8F8;
  // background: adjust-color($sand, $blue: 1);
  // background: #fff!important;
  border: 0;

  .courses-view-course-item {
    box-shadow: $material-shadow1;

    &:hover {
      box-shadow: $material-shadow1-hover;
    }
  }
}

.block {
  background-color: $white;
}

.courses {
  .coursebox {
    background-color: $card-bg !important;
    // box-shadow: $material-shadow1;
    margin: 10px 0;
    padding: 10px 5px;

    &:hover {
      background-color: darken(white, .2);
      box-shadow: $material-shadow1-hover;
      cursor: pointer;
    }
  }
}
//* activities to cards */

.section {
  li.activity {
    margin: 4px 10px 4px 0;
    padding: 2.2em;
  }
}


.v-center {
   display: flex;
   align-items: center;
}

.block_myoverview {
    .courses-view-course-item {
        height: 120px;
    }
}
.category {
      background: rgba(255,255,255,.5);
      margin: 4px 0;
      padding: 10px 0;
}

@media (min-width: 1600px) {
    .block_myoverview {
        .courses-view-course-item {
            height: 120px;
        }
    }
}
.card-block.course-info-container {
    background-color: #fff;
}
// /* CARDS ON DASBOARD */

 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   /* IE10+ CSS styles go here */
    .card-block {
      .media-left, .media-right, .media-body {
          display: table;
      }
    }
 }
