[data-region="drawer"]{
  padding: 20px 10px;
  background-color: $sand;
}

nav.list-group .list-group-item {
   font-size:.8375rem;

   &.active {
       background-color: $wedgewood;
       border-color: $wedgewood-dark;

       .icon {
         color: #fff;
       }
   }

   .icon {
     color: $wedgewood;
   }

   /* fix hkum 11.06.2018: no linebreaks in left menu */
   .media-body {
     word-break: break-all;
   }
   //  /* 11.06.2018 hkum: sub-leveled elements smaller font size */
   //
   // &[data-nodetype="1"]{
   //
   //     .media-body {
   //     font-size:.7375rem;
   //     }
   //
   // }

   // 06.08.2018 adjust auto font resizing landingpage - hkum


}
#nav-drawer {
  a.list-group-item-action {
      border-left: 4px solid #fff!important;
  }
  a.list-group-item-action.active {
      border-left: 4px solid $wedgewood-dark !important;
  }
  a.list-group-item-action:hover {
      border-left: 4px solid #b39048!important;
  }
}
.landingpage {
  h1, h2, h3, h4, h5, h6, p, a, span {
    -ms-word-break: break-all;
 word-break: break-all;

 /* Non standard for WebKit */
 word-break: break-word;

-webkit-hyphens: auto;
-moz-hyphens: auto;
    hyphens: auto;
  }
}
