.course-content .current::before {
  border-left: $brandred 14px solid !important;
}

.topics .current {
  background: $background-highlight;

  .sectionname {
    a {
      color: $textgrey;
      background: $background-highlight;
    }
  }
}

.sectionname a {
  background: $sand;
  color: $driftwood;
  font-family: 'Roboto', sans-serif;
}
/* hidden contents */

.dimmed_text, .dimmed{
  color: $textgrey-light !important;
  font-style: italic;
  opacity: 0.7;

}
// .section{
//   background-color: white;
// }
// .yui3-dd-drop{
//   .activity{
//     background-color: $sand;
//   }
// }
