.card-img-top.myoverviewimg.coursepattern, .card-img-top.myoverviewimg.courseimage{
  display: none;
}
#page-header {
  img.userpicture {
    width: 50px;
    height: auto;
  }
  .page-header-headings {
    font-size: 0.7 em;
  }
}
