footer {
  color: $white !important;
  background-color: $wedgewood;
  padding-bottom: 0px;
  .first_footer {
    background-color: $wedgewood !important;
  }
  &.p-y-1 {
    padding-bottom: 0!important;
    .second_footer {
      background-color: white !important;
      padding:10px;

      a {
        color: $wedgewood !important;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
  h1, h2, h3, h4, h5, h6 {
    color: $white !important;
  }
  .footer_social_block {
    a.btn {
      min-width: 44px;
    }
    a {
      background-color: $driftwood;
      border-color: $driftwood;
      &:hover,
      &:focus,
      &:active {
      background-color: darken($driftwood, 10%);
      border-color: darken($driftwood, 10%);
      color: white;
      }
      &:visited {
      background-color: darken($driftwood, 2%);
      border-color: darken($driftwood, 2%);
      color: white;
      }
    }
  }
}
