//   /**    NAVIGATION TOP */

.login {
  color: $white;

  a {
    color: $white!important;
    font-weight: 900;
  }
}
.navbar-nav {
font-size: 14px!important;
}
.navbar-light {
  background-color: $wedgewood;
  border-bottom: 0 solid;

  .navbar-nav .nav-link {
    color: $white;
  }

  .navbar-brand {
    background-color: $wedgewood;
  }

  a {
    color: $white;

    .dropdown-item {
      color: $wedgewood;
    }
  }

  .popover-region-container {
    a {
      color: $wedgewood;
    }
  }
}

.dropdown-menu {
  color: $wedgewood;

  .icon {
    color: $wedgewood;
  }

  .dropdown-item {
    color: $wedgewood;
  }
}

.course-content .current::before {
  border-left: $brandred 4px solid;
  content: "";
  position: absolute;
}

header {
  padding: 0 !important;

  .navbar {
    margin: 0;
    padding: 0;
  }

  .navbar-brand {
    padding: 0;
  }
}

.avatar {
  img {
    height: 16px;
    width: 16px;
  }
}

.navbar a {
  margin-top: 4px;
}

.navbar .menubar {
  margin-top: 6px;
}

.site-name {
  margin-top: 2px;
}
//   /**    NAVIGATION LEFT */

#nav-drawer {
  background-color: $white;
  box-shadow: $material-shadow1;
  font-size: 1.2em;
  font-weight: 300;
}
a.list-group-item.font-weight-bold {
    border-left: 4px solid $wedgewood;
    // padding-left: 10px;
    transition: all 100ms ease-in-out;
    &:hover{
      border-left: 4px solid $driftwood!important;
    }
  }
a.list-group-item {
  i {
    color: $wedgewood;
  }

  .list-group-item-action {
    padding-left: 20px;
  }


  &:first-child,
  &:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
a.list-group-item-action{
  border-left: 4px solid $white;
  // padding-left: 10px;
  transition: all 100ms ease-in-out;
  &:hover{
    border-left: 4px solid $driftwood!important;
  }
  &:focus{
    border-left: 4px solid $driftwood!important;
    background-color:$background-highlight;
  }
}
  //
  // transition: border-left 100ms ease-in;
  // transition: background-color 350ms ease-in;
  // border-left: 4px solid $white;
  // &:hover, &:focus{
  //   border-left: 4px solid $wedgewood-dark!important;
  // }
  // &:focus{
  //   background-color:$background-highlight;
  // }

.list-group-item {
  background-color: $white;
  border: 0;

  .media {
    font-size: 0.8em;
  }
}

#nav-drawer::-webkit-scrollbar {
  display: none;
}
// navigation drawer left //

[data-region="drawer"] {
  top: 36px;
  height: calc(100% - 36px);
}

#nav-drawer .list-group {
  border-bottom: 1px solid #ddd;
}
//* TODO REPLACE ALL COLORS FROM DEFAULT.SCSS IN BOOST THEME WITH HTW BRAND COLORS//

.navbar-light .navbar-nav .nav-link:hover {
  // color:$wedgewood-dark;
  text-decoration: underline;
}

#page-admin-index .adminwarning.availableupdatesinfo .moodleupdateinfo.maturity200 .info.release,
.assignfeedback_editpdf_widget .label,
.tag-info {
  background-color: $wedgewood-dark;
}

#accordion .nav-tabs {
  margin-bottom: 10px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .active > .nav-link:focus,
.navbar-light .navbar-nav .active > .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:focus,
.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.open:focus,
.navbar-light .navbar-nav .nav-link.open:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .open > .nav-link:focus,
.navbar-light .navbar-nav .open > .nav-link:hover {
  color: #fff;
}
//Fix z-Index pagination navigatoin on dashboard: present past future courses (bottom page-navigation)

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  z-index: 0;
}


/*13.03.2018 */
/*navigation: font-sizes */
/* fixed sizes because they should mostly fit in one linear */

nav .list-group-item .media-body{
  font-size: 14px;
}
