#mod_quiz_navblock {

  .card-block {
    background-color: $background-highlight;
  }

  .qn_buttons a{
    color:$wedgewood-dark;
  }

  .qnbutton.partiallycorrect .trafficlight {
    background-color: $brandred;
  }

  .mod_quiz-section-heading {
    font-size: 16px;
    margin-bottom: 10px !important;
  }
}

.path-mod-quiz #mod_quiz_navblock .qnbutton .thispageholder {
  border-color: $wedgewood-dark;
}

.alert-info,
#page-admin-index .releasenoteslink,
#adminsettings .form-overridden,
.que .formulation {

  background-color: #eef5f7;
  border-color: #85bac7;
  color: #182f34;
}

/* quizzes: shuffling-label too big
/* 14.03.2018 hkum */
#page-mod-quiz-edit .section-heading {

  .instanceshufflequestions {
    label {
      font-size:16px;
    }
  }
}


/*quizzes drag and drop text with groups
/*14.03.2018 hkum*/

.que.ddwtos {
/* rot */
  .group1 {
    background-color: #EF9A9A;
    border: 1px solid #D32F2F !important;
    color: #000;
  }

/* Green */
  .group2{
    background-color: #9CCC65;
    border: 1px solid #689F38 !important;
    border-radius: 5px;
    color: #000;
  }

/* Light Blue */
  .group3 {
    background-color: #81D4FA;
    border: 1px solid #0288D1 !important;
    color: #000;
  }
/* Braun */
  .group4 {
    background-color: #D7CCC8;
    border: 2px dotted #5D4037 !important;

    color: #000;
  }

/* Lila */
  .group6 {
    background-color: #E1BEE7;
    border: 1px solid #8E24AA !important;
    border-radius: 10px;
    color: #000;
  }

/* Teal */
  .group5 {
    background-color: #80CBC4;
    border: 1px solid #00796B !important;
    color: #000;
  }

/* Indigo */
  .group7 {
    background-color: #9FA8DA;
    border: 1px solid #3949AB !important;
    border-radius: 14px;
    color: #000;
  }


  .validationerror {
    @extend .alert;
    @extend .alert-danger;
    font-weight: 400;
    -webkit-filter: contrast(115%);
    filter: contrast(115%);

  }

}
