{{!
    This file is part of HTW-Moodle for Moodle - https://github.com/BLC-HTWChur

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/toolbar

    toolbar template.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none
}}

<!-- $html .= html_writer::div($pageheadingbutton, 'breadcrumb-button pull-xs-right'); -->
<!-- <div class="row"> -->

{{#show_toolbar}}
<div class="col-xs-12">
  <div class="nav toolbar hidden-xs-down">
  <!-- <div class="card-block "> -->

    <nav id="anothernav" class="anothernav {{#edit_state}}editing{{/edit_state}}">
      {{!
        spezielle Menu Struktur, die struktur infomrationen enthält, so dass
        wir bestimmte unterpunkte ausblenden oder separat behandeln können.
        die sem_action_menu struktur enthält ein Array "items".
        ein Item hat die folgenden struktur

        {
          "link" : "http://mdl-dev.htwchur.ch/enrol/users.php?id=58",
          "display" : true,
          "text" : "Eingeschriebene Nutzer/innen",
          "key" : "review",
          "parent_key": "courseadmin",
          "pkcourseadmin": true,
          "review": true
          "icon" : {
             "pix" : "i/enrolusers",
             "attributes" : {
                "class" : "navicon",
                "alt" : ""
             },
             "component" : "moodle"
          },
          "users" : true    // <- das ist die übergeordnete menu kategorie
       }
      }}
         {{#sem_header_menu}}
              <div class="context_header_settings_menu">
                  {{#items}}
                  {{! das folgende Konstrukt blendet bestimmte toolbar elemente aus.
                      Das würde fast flexibler mit css gehen.
                    }}
                  {{^pkmanageinstances}} {{! Einschreibemethoden ausblenden}}
                  {{^gradebooksetup}}
                  {{^publish}}
                  {{^reset}}
                  {{^restore}}
                  {{^pkquestionbank}}
                  <div class="btn btn-secondary {{key}}" data-pk="{{parent_key}}">
                      <a href="{{{link}}}">{{text}}</a>
                  </div>
                  {{/pkquestionbank}}
                  {{/restore}}
                  {{/reset}}
                  {{/publish}}
                  {{/gradebooksetup}}
                  {{/pkmanageinstances}}
                  {{/items}}
              </div>
         {{/sem_header_menu}}

         {{#edit_button}}
             <div class="breadcrumb-button">
               {{{edit_button}}}
             </div>
         {{/edit_button}}
    </nav>

  </div>
</div>

{{/show_toolbar}}
