{{!
    This file is part of HTW-Moodle for Moodle - https://github.com/BLC-HTWChur

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/toolbar

    Navbar template.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * get_items - array of items
      * has_action - boolean
      * action - string
      * get_title - string
      * text - HTML

    Example context (json) for context header settings:
    {
       "actionlink" : {
          "hasactions" : false,
          "url" : "http:\\/\\/mdl-dev.htwchur.ch\\/course\\/view.php?id=58&sesskey=DvevgB5y8M&edit=off",
          "text" : "Turn editing off",
          "disabled" : false,
          "classes" : "",
          "icon" : {
             "key" : "i\\/edit",
             "title" : "",
             "component" : "moodle"
          },
          "id" : "action_link596e33ac33a5f17",
          "actions" : [],
          "attributes" : [
             {
                "value" : "menuitem",
                "name" : "role"
             }
          ]
       }
    }
}}

<!-- $html .= html_writer::div($pageheadingbutton, 'breadcrumb-button pull-xs-right'); -->
<!-- <div class="row"> -->

{{#show_toolbar}}
<div class="row toolbar">
<!-- <div class="card-block "> -->

  <nav id="anothernav" class="col-xs-12 p-a-1">
    {{#edit_button}}
        <div class="breadcrumb-button pull-xs-right">
          {{{edit_button}}}
        </div>
    {{/edit_button}}
    {{#header_menu}}{{#secondary}}
      <!-- <div class="row"> -->
<!-- <div class="context_header_settings_menu pull-xs-left ...> -->
      <div class="context_header_settings_menu {{classes}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>
        {{#items}}{{#actionlink}}

        <div class="btn btn-secondary">
          <a href="{{url}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>
        </div>
        {{/actionlink}}{{/items}}
      </div>
    <!-- </div> -->
    {{/secondary}}{{/header_menu}}
    {{#region_menu}}
    {{^sem_action_menu}}{{#secondary}}
      <!-- <div class="row"> -->
<!-- <div class="context_header_settings_menu pull-xs-left ...> -->
      <div class="context_header_settings_menu {{classes}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>
        {{#items}}{{#actionlink}}

        <div class="btn btn-secondary">
          <a href="{{url}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>
        </div>
        {{/actionlink}}{{/items}}
      </div>
    <!-- </div> -->
    {{/secondary}}{{/sem_action_menu}}
    {{/region_menu}}
    {{!
      spezielle Menu Struktur, die struktur infomrationen enthält, so dass
      wir bestimmte unterpunkte ausblenden oder separat behandeln können.
      die sem_action_menu struktur enthält ein Array "items".
      ein Item hat die folgenden struktur

      {
        "link" : "http://mdl-dev.htwchur.ch/enrol/users.php?id=58",
        "display" : true,
        "text" : "Eingeschriebene Nutzer/innen",
        "key" : "review",
        "icon" : {
           "pix" : "i/enrolusers",
           "attributes" : {
              "class" : "navicon",
              "alt" : ""
           },
           "component" : "moodle"
        },
        "users" : true    // <- das ist die übergeordnete menu kategorie
     }
    }}
       {{#sem_action_menu}}
            <div class="context_header_settings_menu">
                {{#items}}
                {{^manageinstances}} {{! Einschreibemethoden ausblenden}}
                <div class="btn btn-secondary">
                  <a href="{{link}}">{{text}}</a>
                </div>
                {{/manageinstances}}
                {{/items}}
            </div>
       {{/sem_action_menu}}
  </nav>

</div>
<!-- </div> -->
{{/show_toolbar}}
<!-- </div> -->
